<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="SimpayServiceLibrary.FundManagement">
        <endpoint address="" binding="wsHttpBinding" contract="SimpayServiceLibrary.IFundManagement">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="SimpayServiceLibrary.AutoTopup">
        <endpoint address="" binding="wsHttpBinding" contract="SimpayServiceLibrary.IAutoTopup">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="SimpayServiceLibrary.SMS">
        <endpoint address="" binding="wsHttpBinding" contract="SimpayServiceLibrary.ISMS">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
