<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="sConnectionString_System" connectionString="Data Source=serv2.simpay.com.vn,3232;Initial Catalog=DB_USER_ROLE_PERMISSION;Connect Timeout=200;User id=erpx;Password=!erp23??" providerName="System.Data.SqlClient" />
    <add name="sConnectionString_System_History" connectionString="Data Source=serv2.simpay.com.vn,3232;Initial Catalog=DB_USER_ROLE_PERMISSION_HISTORY;Connect Timeout=200;User id=erpx;Password=!erp23??" providerName="System.Data.SqlClient" />
    <add name="sConnectionString_Report" connectionString="Data Source=serv2.simpay.com.vn,3232;Initial Catalog=DB_REPORTS;Connect Timeout=200;User id=erpx;Password=!erp23??" providerName="System.Data.SqlClient" />
    <add name="sConnectionString_Report_History" connectionString="Data Source=serv2.simpay.com.vn,3232;Initial Catalog=DB_REPORTS_HISTORY;Connect Timeout=200;User id=erpx;Password=!erp23??" providerName="System.Data.SqlClient" />
    <add name="sConnectionString_Viettel" connectionString="Data Source=192.168.1.19,1433;Initial Catalog=viettel;Connect Timeout=200;User id=duy;Password=duy" providerName="System.Data.SqlClient" />
    <add name="sConnectionString_Viettel_History" connectionString="Data Source=serv2.simpay.com.vn,3232;Initial Catalog=DB_VIETTEL_HISTORY;Connect Timeout=200;User id=erpx;Password=!erp23??" providerName="System.Data.SqlClient" />
    <add name="sConnectionString_VinaEZPay" connectionString="Data Source=192.168.1.19,1433;Initial Catalog=VinaEZPay;Connect Timeout=200;User id=duy;Password=duy" providerName="System.Data.SqlClient" />
    <add name="sConnectionString_EWallet" connectionString="Data Source=serv2.simpay.com.vn,3232;Initial Catalog=DB_EWALLET;Connect Timeout=200;User id=erpx;Password=!erp23??" providerName="System.Data.SqlClient" />
    <add name="sConnectionString_EWallet_History" connectionString="Data Source=serv2.simpay.com.vn,3232;Initial Catalog=DB_EWALLET_HISTORY;Connect Timeout=200;User id=erpx;Password=!erp23??" providerName="System.Data.SqlClient" />
    <add name="sConnectionString_ViettelAnypay" connectionString="Data Source=192.168.1.19,1433;Initial Catalog=ViettelPostpaidAnypay;Connect Timeout=200;User id=duy;Password=duy" providerName="System.Data.SqlClient" />
    <add name="sConnectionString_ViettelSlave" connectionString="Data Source=192.168.1.170,1433;Initial Catalog=viettel_slave;Connect Timeout=200;User id=vt_slave;Password=123456" providerName="System.Data.SqlClient" />
    <add name="sConnectionString_Iss" connectionString="Data Source=serv2.simpay.com.vn,3232;Initial Catalog=DB_ISS;Connect Timeout=200;User id=erpx;Password=!erp23??" providerName="System.Data.SqlClient" />
    <add name="sConnectionString_Iss_History" connectionString="Data Source=serv2.simpay.com.vn,3232;Initial Catalog=DB_ISS_HISTORY;Connect Timeout=200;User id=erpx;Password=!erp23??" providerName="System.Data.SqlClient" />
    <add name="sConnectionString_Crm" connectionString="Data Source=serv2.simpay.com.vn,3232;Initial Catalog=DB_CRM;Connect Timeout=200;User id=erpx;Password=!erp23??" providerName="System.Data.SqlClient" />
    <add name="sConnectionString_Crm_History" connectionString="Data Source=serv2.simpay.com.vn,3232;Initial Catalog=DB_CRM_HISTORY;Connect Timeout=200;User id=erpx;Password=!erp23??" providerName="System.Data.SqlClient" />
    <add name="sConnectionString_Mailing" connectionString="Data Source=serv2.simpay.com.vn,3232;Initial Catalog=DB_MAILING;Connect Timeout=200;User id=erpx;Password=!erp23??" providerName="System.Data.SqlClient" />
    <add name="sConnectionString_Mailing_History" connectionString="Data Source=serv2.simpay.com.vn,3232;Initial Catalog=DB_MAILING_HISTORY;Connect Timeout=200;User id=erpx;Password=!erp23??" providerName="System.Data.SqlClient" />
    <add name="sConnectionString_Hrm" connectionString="Data Source=serv2.simpay.com.vn,3232;Initial Catalog=DB_HRM;Connect Timeout=200;User id=erpx;Password=!erp23??" providerName="System.Data.SqlClient" />
    <add name="sConnectionString_Hrm_History" connectionString="Data Source=serv2.simpay.com.vn,3232;Initial Catalog=DB_HRM_HISTORY;Connect Timeout=200;User id=erpx;Password=!erp23??" providerName="System.Data.SqlClient" />
    <add name="sConnectionString_Pincard" connectionString="Data Source=192.168.1.11,1433;Initial Catalog=PinCard;Connect Timeout=200;User id=pincard;Password=Xq123456789" providerName="System.Data.SqlClient" />
    <add name="sConnectionString_SystemWarning" connectionString="Data Source=serv2.simpay.com.vn,3232;Initial Catalog=SYSTEMWARNING;Connect Timeout=200;User id=erpx;Password=!erp23??" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="interval" value="900" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding_IFundManagement" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="SimpayWcfLibrary.FundManagement">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_IFundManagement"
          contract="SimpayWcfLibrary.IFundManagement">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SimpayWcfLibrary.SystemWarning">
        <endpoint address="" binding="basicHttpBinding" contract="SimpayWcfLibrary.ISystemWarning">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="True" />
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>