<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="vnyi.DataProvider.Properties.Settings.EziposConnectionString"
            connectionString="Data Source=PHANDUYTHONG-PC;Initial Catalog=Ezipos;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>